*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;

}
body{
    background-color: #0c0b08;
    font-family: 'Times New Roman', Times, serif;
}
/* Nawigacja*/

nav{
    background-color: #0c0b08;  
    border-bottom: antiquewhite solid 2px;
}
nav ul{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    
    font-family: "Platypi", serif;
    

}
nav a{ 
   
    padding-right:  2rem;
    padding-left: 2rem;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}
nav li:first-child{
    margin-right: auto;
    font-size: 1.5em;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
      
}
nav a:hover{
    color:antiquewhite;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-color: whitesmoke ;
    
}
nav li:first-child a {
    text-decoration: none; 
}
/* Nawigacja-Menu hamburger */


.menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(1rem);
    background-color: #0c0b08;
    box-shadow: -2px 0 5px rgba(-10,0,0,0.2);
    display: none;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    
}
.menu li{
   width: 100%;
}
.menu a{
    width:100%;
}
.menu-button{
    
    display: none;
 
}
.phone_min{
    display: none;
}
@media(max-width:800px){
    .phone{
        display: none;
    }
    .menu-button{
        display: block;
    }
    
    .skills_div_container{ 
        display:flex;
        flex-direction: column;
    }
    .images_project {
        flex-direction: column; 
        align-items: center; 
    }
   
    
    
    /**/

}
@media(max-width:400px){
    .menu{
        width: 100%;
    }
    
    
    
}
/*Section*/
section{
    font-size: 2rem;
    color: white;
    width: 50%;
    margin: auto;
    /* Ustawianie kontera po środku i zabezpiecznie ,żeby nie wchodził na nawigacje*/
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; 
    max-height: calc(100% - 5rem); 
    overflow: auto; 
}
/*about*/
/*Ustawianie odległości kontenerów w section aby ładnie wyglądało*/
.about_container{display:block;
overflow: visible;
}

.text_container p{
    text-align: center;
    margin-bottom: 1rem;

}
.text_change_container{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.text_change{
    color: aquamarine;
}
/*skills*/
.Skills_container{
    display: none;
    overflow: visible;
    width: 75%;
 }
.skills_div_container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.skills_div{
    margin: 2rem;
    border-radius: 0.4rem;
    border: 2px solid white;
    padding: 1.5rem;
    word-wrap: break-word;
}
.Skills_container .text_p2{
    
    text-align: center;
}
/*projects*/


 .images_project img{
    margin:2rem;
    border-radius: 50%;
    object-fit: cover;
    animation: float 8s ease-out infinite;
    text-align: center;
    
}
.Projects_container {
    display: none;
    flex-direction: column;
    align-items: center; 
    overflow: visible;
    width: 75%;
}

.images_project {
    display: flex;
    justify-content: center; 
    
   
}
.images_project img{
    width:100px;
    height:100px;
}


@keyframes float{
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}